@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300|Raleway')

*
  padding: 0
  margin: 0

html, body
  font-size: 10px

body
  background-color: #333441

body.with-results
  background-color: #383A49

.viewport
  max-width: $viewport-max-width
  margin: 0 auto

button
  background-color: #D05D84
  border: none
  border-radius: 2rem
  color: white
  text-transform: uppercase
  padding: 1.5rem 2.8rem
  font: 1.4em/1 $font-raleway
  cursor: pointer
