search-box
  display: block
  background-color: #333441
  padding: 1.4rem 0
  text-align: center

  form
    display: inline-block
    background-color: white
    border: 0.2rem solid #6c6c6c
    border-radius: 3rem
    padding: 0.4rem 0.4rem 0.4rem 2.2rem

    input[type="search"]
      +size(40.4em)
      border: none
      font: 1.4em/2 $font-montserrat
