.search-header
  background: linear-gradient(to top, #B3455D, #CD4282)
  position: relative
  padding: 8.5rem 0
  color: white

  #geek-label, #spotify
    position: absolute
    cursor: pointer

  #geek-label
    top: 3.6rem
    left: 4rem
    display: block
    width: 8.1rem
    height: 2.4rem
    background: transparent url("../images/geek_logo.png") no-repeat scroll top center
    padding-top: 7.7rem
    text-align: center
    font: 1.4em/1 "Open Sans", Arial, sans-serif
    color: white
    text-decoration: none

  #spotify
    top: 4.5rem
    right: 4rem
    font-family: Raleway, Helvetica, sans-serif
    font-size: 1.4em
    font-weight: lighter
    color: white
    text-decoration: none

  h1
    width: 66.4rem
    height: 46.6rem
    background: transparent url("../images/music_search.jpg") no-repeat
    margin: 0 auto
    font-family: "Open Sans", Arial, sans-serif
    position: relative

  h1:after
    position: absolute
    bottom: -3.6rem
    left: 50%
    display: block
    color: white
    content: "↓"
    font-size: 2.6rem
    animation: arrow-move 3s infinite
