search-box
  display: block
  background-color: #333441
  padding: 1.4rem 0
  text-align: center

  form
    display: inline-block
    background-color: white
    border: 0.2rem solid #6c6c6c
    border-radius: 3rem
    padding: 0.4rem 0.4rem 0.4rem 2.2rem

    input[type="search"]
      border: none
      width: 49.4em
      font: 1.4em/2 $font-open-sans

    button
      background-color: #D05D84
      border: none
      border-radius: 2rem
      color: white
      text-transform: uppercase
      padding: 1.5rem 2.8rem
      font: 1.4em/1 $font-raleway
