search-results

  section
    display: block

  .results.loading
    background-color: #383A49
    padding-top: 0
    padding-bottom: 0
    .loaded
      display: none
    .loading
      display: block
      padding: 28.9rem 0 9.3rem 0
      color: #474958
      font: 2.2em/1 $font-raleway
      text-align: center
      background: no-repeat center 8.9rem/16.9rem 16.3rem url("../images/magnifier.png")

  .results
    padding: 5.9rem 14.6rem
    .loading
      display: none
    .more
      text-align: center
      display: none
    .more.visible
      display: block
