search-header
  display: block

.search-header
  +position(relative)
  background: linear-gradient(to top, $header-gradient-start, $header-gradient-end)
  padding: 9.8rem 0 9.6rem 0
  color: white
  cursor: pointer

  #geek-label, #spotify
    +position(absolute)
    cursor: pointer

  #geek-label
    +position($top: 3.5rem, $left: 4.1rem)
    +size(8rem, 10rem)
    display: block
    background: no-repeat center top/cover url("../images/geek_logo.png")
    text-decoration: none

  #spotify
    +position($top: 4rem, $right: 4rem)
    font-family: $font-raleway
    font-size: 1.5em
    letter-spacing: 0.07rem
    color: white
    text-decoration: none

  h1
    +position(relative)
    +size(64.4rem, 44.6rem)
    background: no-repeat center top/cover url("../images/music_search.png")
    margin-left: 40.1rem
    font-family: $font-open-sans
    font-weight: lighter

  h1:after
    +position(absolute, $bottom: -6.5rem, $left: 29.2rem)
    +size(4.3rem, 5.6rem)
    background: no-repeat center top/cover url("../images/arrow_down.png")
    display: block
    color: white
    font-size: 2.6rem

  &.visible h1:after
    animation: arrow-move 3s infinite
    content: ""
