search-header
  display: block

.search-header
  +position(relative)
  background: linear-gradient(to top, #B3455D, #CD4282)
  padding: 8.7rem 0
  color: white
  cursor: pointer

  #geek-label, #spotify
    +position(absolute)
    cursor: pointer

  #geek-label
    +position($top: 3.6rem, $left: 4rem)
    +size(8rem, 10rem)
    display: block
    background: no-repeat center top/cover url("../images/geek_logo.png")
    font: 1.4em/1 $font-open-sans
    color: white
    text-decoration: none

  #spotify
    +position($top: 4rem, $right: 4rem)
    font-family: $font-raleway
    font-size: 1.6em
    font-weight: lighter
    letter-spacing: 0.1rem
    color: white
    text-decoration: none

  h1
    +position(relative)
    +size(66.4rem, 46.6rem)
    background: no-repeat center top/cover url("../images/music_search.png")
    margin: 0 auto
    font-family: $font-open-sans
    font-weight: lighter

  h1:after
    +position(absolute, $bottom: -3.6rem, $left: 50%)
    +size(4.3rem, 5.6rem)
    background: no-repeat center top/cover url("../images/arrow_down.png")
    display: block
    color: white
    font-size: 2.6rem

  &.visible h1:after
    animation: arrow-move 3s infinite
    content: ""
