$viewport-width: 144rem

/* Fonts */
$font-open-sans: "Open Sans", Arial, sans-serif
$font-raleway: Raleway, Helvetica, sans-serif
$font-montserrat: Montserrat, Helvetica, sans-serif
$font-nunito: Nunito, Arial, sans-serif

/* Colors */
$body-default-color: #333441
$body-with-results-color: #383A49
$overlay-color: rgba(51, 52, 65, 0.5)
$header-gradient-start: #B3455D
$header-gradient-end: #CD4282
$button-color: #D05D84

/* Sizes */
$default-rem-size: 10px
